You need three configuration files to make heartbeat happy,
and they all go in this directory.

They are:
	ha.cf		Main configuration file
	haresources	Resource configuration file
	authkeys	Authentication information

These first two may be readable by everyone, but the authkeys file
must not be.

The good news is that sample versions of these files may be found in
the documentation directory (providing you installed the documentation).

If you installed heartbeat using rpm packages then
this command will show you where they are on your system:
		rpm -q heartbeat -d

If you installed heartbeat using Debian packages then
the documentation should be located in /usr/share/doc/heartbeat

