[user]
    name    = Chen Zhiwei
    email   = zhiweik@gmail.com
[core]
    editor  = vim
[merge]
    tool    = vimdiff
[color]
    diff    = auto
    status  = auto
    branch  = auto
    interactive = auto
[alias]
    co  = checkout
    ci  = commit
    st  = status
    add = add --ignore-removal
    last = log -1 HEAD
    diff = diff --check
    show = show --shortstat
    unstage = reset HEAD --
    history = log -p --
[push]
    default = matching
