[user]
    name = Chen Zhiwei
    email = zhiweik@gmail.com
[core]
    editor = vim
[merge]
	tool = vimdiff
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[alias]
    co = checkout
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    diff = diff --check
    show = show --shortstat
[push]
    default = matching
